body {
  font-family: Arial;
  text-align: center;
  background-image: url('background ride-at-sunset.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.grid img {
  width: 200px;
  height:100px;
  margin: 10px;
  object-fit: cover;
}

.grid {
  display: grid;
  gap: 10px;

}